# pixi environments
.pixi/*
!.pixi/config.toml

# Ruff
.ruff_cache

# Pytest
.pytest_cache/

# VS Code
.vscode/

#MacOS
.DS_Store

# McStas Data
runs/*/mccode.h5
runs/*/*/mccode.h5
runs/TREX_Cold_Sample_Vana_SingleEi_MultiEi/

*out*
*_mcdisplay

# OFF files
OFF_files

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.c

