*.pyc
.DS_Store

runs/*/mccode.h5
runs/*/*/mccode.h5
runs/TREX_Cold_Sample_Vana_SingleEi_MultiEi/

reduction/__pycache__/*.pyc
reduction/__pycache__/_single_crystal.cpython-314.pyc
reduction/__pycache__/dgs_reduction.cpython-314.pyc
reduction/__pycache__/utils.cpython-314.pyc
